<div class="col-md-12">
  <% if logged? %>
  <%= to_link "/tasks/add", "<div id='add-task' class='btn btn-success'>Add a new task</div>" %>
  <% end %>
  <h3>Active Tasks</h3>
  <%= show_tasks_table @tasks %>
  <div style="text-align: right"><%= to_link "/tasks/", "See all" %></div>
</div>
<% if logged? %>
  <div class="clearfix"></div>
  <h3>My Activity</h3>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Active Tasks</div>
      <div class="panel-body">
        <%= show_tasks_table logged_user.active_tasks.reverse %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Active Applications</div>
      <div class="panel-body">
        <%= show_applications_table logged_user.active_applications.reverse %>
      </div>
    </div>
  </div>
 <% end %>
