<!DOCTYPE html>
<html>
  <head>
    <title>Jobs for charity :: <%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/main.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Покажи менюто</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Tasks for Charity</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <%  @navigation_links.each do |link| %>
            <li <%= link.active ? "class='active'" : "" %>>
              <%= to_link link.href, link.title %>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= logged_user.username.split(" ").first %>&nbsp;<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= to_link "/user/#{logged_user.id}", "My Profile" %></li>
              <li><%= to_link "/user/settings", "Settings" %></li>
              <li class="divider"></a>
              <li><a href="/user/logout">Sign out</a></li>
            </ul>
          </li>
          <% else %>
          <li><a href="/">Sign in</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container container-body">
      <div class="row">
        <div class="page-header">
          <h1><%= @title %></h1>
        </div>
        <%= yield %>
      </div>
      <footer id="footer" class="row">
        <p>
          Jobs for Charity - Facebook Hackaton 2015
        </p>
      </footer>
    </div>
  </body>
</html>

